body{background: url(3.PNG);}
#Encabezado
{background-color: pink;}

#Foto
{background-image: url(3.PNG);}

#Info
{background-color: beige;}

#Encabezado1
{background-color: pink;}

#Foto1
{background-image:  url(3.jpeg);}

#Info1
{background-color: beige;float:}